<!DOCTYPE html>
<html>
<head>
  <title>Seedvisor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
			<div class="top">
				<img class="logo" src="/assets/logo.gif" alt="Logo" />		
		<nav>
				<ul>
					<li><a class="highlight" href="#">Find</a></li>
					<li><a href="#">My Followed</a></li>
					<li><a href="#">My Funded</a></li>			
				</ul>
		</nav>
				<a class="profile" href="#"><img src="/assets/nav_profile.gif"></a>		
				<form>
					<input type="text" size="30" name="search_field" placeholder="find a startup">    
					<input type="submit" value="search">
				</form>	
			</div>
	</header>
		<article>
				<section>
					<p class="tagline">Simplify your crowdfunding decisions</p> 
				<div class="rightcolumn">
						<div class="bug"> <p><span class="bugtext">There are </span></p>
							<p><span class="bugnumber">60</span></p> 
							<p><span class="bugtext2">startups listed</span></p>
						</div>
							<p class="sources">We gather our information from:</p>
							<a href="http://www.kickstarter.com"><img src="/assets/logo_kickstarter.jpg" /></a>
							<a href="http://www.indiegogo.com/"><img src="/assets/logo_indiegogo.jpg" /></a>
							<a href="http://www.crunchbase.com/"><img src="/assets/logo_crunchbase.jpg" /></a>
						</div>						
				</div>
					<h1>Tell us what you're looking for and<br>
						we’ll present some opportunities.</h1>
					<h2>Headline</h2> 
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
					<p>text here</p>
						</section>	
				</article>	


<article>
<%= yield %>
</article>

<footer>
			<div class="footer">
				<p>&copy; seedvisor. Terms of Use.</p>	
			</div>
</footer>

</body>
</html>
