<!DOCTYPE html>
<html>
<head>
  <title>Seedvisor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
			<div class="top">
				<p class="title">seedvisor</p>
		<nav>
				<ul>
					<li><a href="#">My Funded</a></li>			
					<li><a href="#">My Followed</a></li>
					<li><a href="#">Find</a></li>
				</ul>
		</nav>
			</div>
</header>

<article>
<%= yield %>
</article>

<footer>
			<div class="footer">
				<p>&copy; seedvisor. Terms of Use.</p>	
			</div>
</footer>

</body>
</html>
